<div class="main">
  <div class="form-wrapper">
    <h2 class="login-title">会員登録フォーム</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if @user.errors.any? %>
      <% end %>

      <div class="form-item">
        <i class="fa-solid fa-envelope"></i><%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "dotbit@example.com" %>
        <% if @user.errors.include?(:email) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
        <% end %>
      </div>

      <div class="form-item">
        <i class="fa-solid fa-user"></i><%= f.label :名前 %> <br />
        <%= f.text_field :name, placeholder: "ドットビット" %>
      </div>

      <div class="form-item input-wrap">
        <i class="fa-solid fa-key"></i><%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上を入力してください)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
        <i class="toggle-pass fa fa-eye-slash"></i>
      </div>
      <div class="form-item input-wrap">
        <i class="fa-solid fa-key"></i><%= f.label :パスワード確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password" %>
        <i class="toggle-pass fa fa-eye-slash"></i>
      </div>

      <div class="button-panel">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
    <div class="form-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
